body{
    margin:0px;
    padding: 0px;
}
.wrap{
    width:100%;
    height:100%;
}
.box{
    width: 318px;
    height: 318px;
    border: 2px solid #F0F0F0;
    margin: 10px 10px;
    padding: 10px;
    position: absolute;
}
.div{
    width: 100px;
    height: 100px;
    margin: 3px;
    border-radius: 10px;
    background-color: #FF9933;
    float: left;
}

